    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Paul Ng'ang'a | Portfolio{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script defer src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logo"><a href="{% url 'home' %}">Paul.</a></div>
                <ul class="nav-links" id="navLinks">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'portfolio' %}">Projects</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <button class="nav-toggle" id="navToggle" aria-label="Toggle Navigation">☰</button>
            </nav>
        </header>

        {% block content %}
        
        {% endblock %}

        <footer class="footer">
            <p>&copy; 2025 Paul Ng'ang'a. All rights reserved.</p>
            <div class="social">
                <a href="https://www.linkedin.com/in/paul-ngigi-9280a3245/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/Gover912G" target="_blank">GitHub</a>
            </div>
        </footer>
    </body>
    </html>